
<hr>

<footer id="footer">

<p><small><a href="./about.html#contact">Contact me</a> if you have any
comments or corrections.</small>

<div id="copying">
<a href="https://creativecommons.org/publicdomain/zero/1.0/">
<img src="./cc0.png" alt="CC0 Public Domain" style="vertical-align: middle;"></a>
<span style="vertical-align: middle;">
<small>
This document is released into the public domain under
<a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> terms.
</small>
</span>
</div>

</footer>

